// ==========================================================================
// Base Styles
// ==========================================================================

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
}

a {
  text-decoration: none;
  color: $white;
}

// Lists
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Button
button {
  outline: none;
  border: none;
}
